<ng-container *ngIf="!isLoading">
    <div class="blog-container">
        <div class="blog-header">
            <div class="blog-author--no-cover">
                <h3>by {{post._ownerId.username}} {{post.createdAt | dateAgo}}</h3>
            </div>
        </div>

        <div class="blog-body">
            <div class="blog-title">
                <h1>{{post.title}}</h1>
            </div>
            <div class="blog-summary">
                <p>{{post.description}}</p>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <app-all-comments></app-all-comments>
</ng-container>

<app-add-comment *ngIf="isLogged"></app-add-comment>
<ng-container *ngIf="!isLogged">
    <p class="hero-top-movie">Log in to comment</p>
</ng-container>

<ng-container *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</ng-container>