.hero-top-movie {
    text-align: center;
    margin: 26px 0 26px 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #03658c;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.reviews-container {
    margin: 0 auto 0;
    width: 726px;
}

.reviews-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reviews-list li {
    padding: 24px 0 24px 0;
    display: block;
    position: relative;
    background-color: #1a1a1a;
}

.review-box {
    background-color: #1a1a1a;
    width: 100%;

}

.reviews-list .review-box {
    padding: 0 8px 0 8px;
}

.review-box .review-head {
    display: flex;
    padding: 10px ;
    border-bottom: 1px solid #353434;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.date-added {
    color: #aaa;
    margin-left: auto;
    font-size: 15px;
}

.stats-icon {
    height: 14px;
    width: 14px;
}

.review-box .review-name {
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
}

.review-box .review-name a {
    color: #283035;
}


.review-box .review-content {
    padding: 12px 12px 0 12px;
    font-size: 15px;
    color: #aaa;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/** ===================== Responsive ========================*/
@media (max-width: 900px) {
    .reviews-container {
        width: 80%
    }
}

@media (max-width: 424px) {
    .review-stars {
        display: flex;
    }

    .review-head {
        flex-wrap: wrap;
    }

    .date-added {
        margin: 0;
        order: 1;
        flex: 100%;
    }
}