.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}

.u-clearfix:after {
    clear: both;
}

.subtle {
    color: #aaa;
}

.card-container {
    margin: 25px auto 0;
    position: relative;
    width: 900px;
    background-color: #1a1a1a;
}

.card {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 30px;
}

.card-top-wrapper {
    display: flex;
    justify-content: flex-end;
    
}

.rating-wrapper {
    display: flex;
}

.movie-rating {
    color: white;
    margin-right: 4px;
    margin-top: 4px;
}

.card-likes {
    display: flex;
}

.movie-likes {
    color: white;
    margin: 4px 4px 0 8px;
}

.stats-icon {
    height: 28px;
    width: 28px;
}

.movie-year {
    margin-top: 4px;
    font-size: 12px;
}

.card-number {
    margin-top: 15px;
}

.card-director {
    display: block;
    font-size: 12px;
    letter-spacing: .5px;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.card-title {
    font-size: 32px;
    font-weight: 300;
    margin: 10px 0;
    color: white;
}

.card-description {
    display: inline-block;
    font-weight: 300;
    margin: 10px 0 10px;
    font-size: 14px;
}

.card-buttons {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.card-tag {
    float: right;
    margin: 5px 0 0;
}

.card-media-div {
    object-fit: contain;
    height: 400px;
}

.card-media {
    float: left;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

@media (max-width: 1020px) {
    .card-container {
        width: 100%;
    }

    .card-media {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 800px) {

    .card {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        padding: 0;
    }

    .card-body {
        width: 90%;
        padding: 0;
    }

    .card-top-wrapper {
        justify-content: space-between;
        align-items: center;
    }

    .movie-year {
        align-self: flex-start;
    }

    .rating-wrapper {
        margin: 0 auto;
    }
}